/* aquí se importa la fuente comic sans */
@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300&display=swap");


/* este es el contenedor principal */
.Audio {
  display: flex;
  height: 100%;
  width: 50%;
  background-color: rgba(245, 73, 144);
  overflow-y: scroll;
  font-family: comic sans ms;

  .input2 {
    position: fixed;
    top: 4rem;
    right: 10rem;
    width: 25rem;
    height: 2rem;
    outline: none;
    border-radius: 5px;
    border: none;
    z-index: 1000;
    box-shadow: rgba(0, 0, 0, 0.781) 0px 5px 15px,
    rgb(255, 19, 117) 5px 10px 15px;
  }
}
  .input2::placeholder {
    padding: 0;
  }

  .btn2 {
    cursor: pointer;
    position: fixed;
    z-index: 1000;
    top: 4rem;
    right: 10rem;
    width: 5rem;
    height: 2rem;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    font-family: comic sans ms;
    background-color: #72e2ff;
    transition: all 0.5s ease-in-out;
  }


.btn2:hover {
  background-color: #ff57b4;
}


/*este es el div del lado izquierdo*/
.audio {
  min-height: max-content;
  min-width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 2rem 0 5rem 0;
  justify-content: center;
  /* background: blue; */
  margin-top: 2rem;
  gap: 30px;

  & div {
    min-width: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}


/* este es el contenedor del h3*/
.Mus {
  color: rgba(245, 73, 144);
  width: 20rem;
  font-size: 1.5rem;
  font-weight: bolder;
  letter-spacing: 5px;
  text-align: center;
  padding: 0 0 0.4rem 0;
  margin-bottom: 0.2rem;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  background: #000;
  text-wrap: wrap;
  max-width: 20ch;
}



audio {
  width: 18rem;
  padding-top: .2rem;
}

.Audio::-webkit-scrollbar {
  width: 7px;
}

.Audio::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 10px;
}

.Audio::-webkit-scrollbar-thumb {
  background-color: #fc0b33cc;
  border-radius: 10px;
}
.Audio::-webkit-scrollbar-thumb:hover {
  background-color: #d60326;
}
